
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Fredoka', sans-serif;
}
.weekday{
  display: flex;
  height: 35vh;
  overflow-x: scroll;
  gap:1em;
  scroll-behavior: smooth;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.hour{
  display: flex;
  height: 20vh;
  overflow-x: scroll;
  gap:1em;
  scroll-behavior: smooth;
  
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.weekday-div{
  background-color: rgb(120, 231, 144);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 50vw;
  border-radius: 10px;
}
.hour-div{
  background-color: rgb(28, 168, 168);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  border-radius: 10px;
}
.hour-div p{
  margin: 0px;
  width: 70px;
}
.weekday-div p{
  width:150px;
  margin: 0px;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.App-parent{
  box-sizing: border-box;
  width: 60vw;

  height: 100%;
}
.App{
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  gap:2em;
  align-items: center;
}
.App-child{
  box-sizing: border-box;
  background-color: rgb(50, 153, 153);
  border-radius: 10px;
  width: 350px;
  color: white;
}
form #search{
  width: 100px;
}
#icon{
  font-size: 2em;
}
#cover-icon{
  font-size: 1.5em;
}
@media screen and (max-width:800px){
  .App-parent{
    width: 95vw;
  }
}